* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.no-link {
    text-decoration: none;
    color: inherit;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.success, .error {
    text-align: center;
    font-size: 2em;
    padding: 20px;
}

.success {
    background-color: palegreen;
}

.error {
    background-color: palevioletred;
}

/* NAV BAR */

nav {
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: skyblue;
    padding: 20px;
}


/* SESSIONS */

.success {
    color: green;
}

.error {
    color: red;
}

/* LIST */

.title {
    text-align: center;
    margin: 20px 0;
}

.filter {
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
    font-family: inherit;
    font-size: 1.2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product hr {
    /* bypasses padding of the parent element */
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px; 
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.product {
    width: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin: 20px;
}

.product-img img {
    width: 100%;
    object-fit: cover;
}

.description {
    /* min-height and max-height are used to limit the height of the description */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 3.6em;
    max-height: 3.6em;
}

.price {
    font-weight: bold;
    font-size: 1.3em;
}

button, .a-button {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.2em;
    font-family: inherit;
    display: block;
    cursor: pointer;
}

.button-cart, .a-button {
    width: 100%;
}

.button-cart {
    background-color: palegoldenrod;
}

.a-button {
    background-color: skyblue;
    text-decoration: none;
    font-size: 1.2em;
}

form {
    display: flex;
    gap: 10px;
}

/* SHOW */

.product-container {
    margin: 0 auto;
    display: flex;
    max-width: 1000px;
    height: 400px;
    justify-content: center;
    align-items: stretch;
    border: 2px solid black;
}

.product-show-img, .product-details {
    display: flex;
    flex: 1;
    padding: 20px;
}

.product-show-img img {
    width: 100%;
    object-fit: contain;
}

.product-details {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 10px;
    outline: 1px solid black;
}

/* .product-category, .product-name, .product-description, .product-price {
    outline: 1px solid green;
} */

.product-category, .product-price {
    min-height: 30px;
}

.product-name {
    min-height: 60px;
}

.product-description {
    min-height: 120px;
}

.button-400 {
    max-width: 400px;
    margin: 20px auto;
}

/* CART */

table, th, td {
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 1.1em;
}

th, td {
    padding: 10px;
    text-align: center;
}

.cart-table {
    margin: 0 auto;
}

.cart-table td:first-child, .cart-table th:first-child {
    width: 300px;
}

span {
    font-size: 1.3em;
}

span .total {
    font-size: 2em;
    font-weight: bold;
}